---
import { Card, CardTitle, CardDescription } from "../ui/card";

const item = Astro.props.item;
---

<Card className="p-4 relative">
  <p class="text-[#2463eb]">{item?.link}</p>
  <CardTitle className="mt-2">
    {item?.label}
  </CardTitle>
  <CardDescription className="mt-2">{item?.description}</CardDescription>
  {
    item?.imageUrl && (
      <img
        src={item?.imageUrl}
        class="absolute top-4 right-4 w-6 h-6 object-contain"
      />
    )
  }
  <a href={`https://${item?.link}/`} target="_blank" class="absolute inset-0">
    <span class="sr-only">View</span>
  </a>
</Card>
